@{
    ViewData["Title"] = "Home Page";
}

<style>
    .display-4 {
        text-transform: uppercase;
    }

    .display-4 span {
        color: #F2125E;
    }
</style>

<div class="text-center">
    <h1 class="display-4">
        <span>E</span>mployee
        <span>M</span>anagement
        <span>S</span>ystem
    </h1><br />
    <p>Employee Management System is a platform where all work-related as well as important personal details of an employee is stored and managed in a secure way. By using this system, you can manage admin activities in an easier and quicker way</a>.</p>
    <img src="~/images/img.png" alt="logo" style="width:550px;height:500px;" />
</div>
<br /><br /><br />